<html>
<head>
  <title>Reddit Wannabe</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!-- Latest compiled and minified JavaScript -->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
  $(function() {
    $( "#accordion" ).accordion({
    	collapsible: true,
    	active: false
    });
  });
  </script>
</head>
<body>
<nav class="navbar navbar-inverse">
<div class="navbar-header">
<a href="/" class="navbar-brand">USU Reddit</a>
</div>  
  
	<div class="navbar-right">
	<ul class="nav navbar-nav">
{% if user.is_authenticated %}

	<li class="active">	
	    <a href="/logout">Logout </a>
	</li>
{% else %}
	<li class="active">	

    <a href="/login">Login</a>
	</li>
	<li class="active">	

    <a href="/register">Register</a>
	</li>

{% endif %}
	</ul>
</div>
</nav>

<div class="content">
	
{% block content %}
{% endblock %}

</div>


</body>
<footer>


</footer>
</html>
