{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
<h2>{{link.title}}</h2>
	</div>
	<div class="panel-body">
<p>
  {{link.description}} <br/>
</p>
	</div>
</div>
{% if user.is_authenticated%}

<div id="accordion">
	<h3> Reply </h3>
<div>
	
<p> Commenting as {{user.username}}</p>
<form action="" method="POST">
	
	<textarea name="new_comment" id="" cols="75" rows="10"> Link comment box</textarea>
	<hr/>
  <button value="l {{link.id}}" class="btn btn-primary btn-sm disabled" name="button"> Submit Comment</button>
    {% csrf_token %}
</form>
</div>
</div>
{%endif%}
<ul class="list-group">
	
{% for comment in comments %}
<li class="list-group-item">
     <span class="badge pull-left" id="votes-{{comment.id}}">{{comment.vote.all.count}}</span>
      	{% if not user.is_authenticated %}
 	<span class=badge> Log in to Vote</span>
	
 	{% elif comment.pk not in vote_list %}

 	<form action="/v/c/{{comment.id}}/" method="POST">
    		{% csrf_token %}
 	<button id="voteButton-{{comment.id}}">+</button>
 	</form>
    {% else %}
 	<form action="/v/c/{{comment.id}}/" method="POST">
    		{% csrf_token %}
 	<button id="voteButton-{{comment.id}}">-</button>
 	</form>
	{%endif%}
	<script>
	$('#voteButton-{{comment.id}}').click( function (){
		if( $('#voteButton-{{comment.id}}').text() == '+'){

		var current = parseInt($('#votes-{{comment.id}}').text());
		var newVal = current + 1;
		$('#votes-{{comment.id}}').text(newVal);
		$('#voteButton-{{comment.id}}').text('-')		
		}
		else{
		var current = parseInt($('#votes-{{comment.id}}').text());
		var newVal = current - 1;
		$('#votes-{{comment.id}}').text(newVal);
		$('#voteButton-{{comment.id}}').text('+')		
		}
	});
	</script>
	{{comment.description}}
</li>
{% if user.is_authenticated%}
  <script>
  $(function() {
    $( "#accordion-c" ).accordion({
    	collapsible: true,
    	active: false
    });
  });
  </script>
<div id="accordion-c">
	<h3> Reply </h3>
<div>
<p> Commenting as {{user.username}}</p>
<form action="" method="POST">
	
	<textarea name="new_comment" id="" cols="75" rows="10"> Link Reply Field</textarea>
	<hr/>
  <button value="c {{comment.id}}" class="btn btn-primary btn-sm disabled" name="button"> Submit Comment</button>
    {% csrf_token %}
</form>
</div>
</div>
{%endif%}
{% if comment.replies.all.exists == True  %}
<ul>
	
{% for reply in comment.replies.all%}
{%with comments=reply template_name="replies.html" %}
                   {%include template_name%}
              {%endwith%}
{% endfor %}
</ul>
{% endif %}
</ul>
{% endfor%}
{% endblock %}


