{%extends 'base.html'%}
{% block content%}

<div class="container col-sm-10"></div>
{% if submit %}
<div class="alert alert-success alert-dismissable" role="alert">Link submitted!</div>

{% endif %}
<ul class="list-group">
  {% for link in object_list %}
    <li class="list-group-item">
    <div class="panel panel-">
    
    <li> 
    {% csrf_token %}
    <span class="badge" id="votes-{{link.id}}">{{link.vote.all.count}}</span>
	
 	
 	{% if not user.is_authenticated %}
 		
 	<span class=badge> Log in to Vote</span>
	
 	{% elif link.pk not in voted %}
 	<form action="/v/l/{{link.id}}/" method="POST">
    		{% csrf_token %}
 	<button id="voteButton-{{link.id}}">+</button>
 	</form>
    {% else %}
 	<form action="/v/l/{{link.id}}/" method="POST">
    		{% csrf_token %}
 	<button id="voteButton-{{link.id}}">-</button>
 	</form>
	{%endif%}
	<script>
	$('#voteButton-{{link.id}}').click( function (){
		if( $('#voteButton-{{link.id}}').text() == '+'){

		var current = parseInt($('#votes-{{link.id}}').text());
		var newVal = current + 1;
		$('#votes-{{link.id}}').text(newVal);
		$('#voteButton-{{link.id}}').text('-')		
		}
		else{
		var current = parseInt($('#votes-{{link.id}}').text());
		var newVal = current - 1;
		$('#votes-{{link.id}}').text(newVal);
		$('#voteButton-{{link.id}}').text('+')		
		}
	});
	</script>
    </li>
     <a  href="{{link.url}}"> <big>	{{link.title}} </big></a>
    <a  href="discuss/{{ link.internal }}">
      <small>Discuss </small> 
    </a>
    
    </div>
    </li>
{% endfor %}
</ul>
<div class="container col-sm-2">
  <li class="list-group-item"><a href="/submit_link"> Submit a new link!</a></li>
</div>
{% endblock %}